## Settings file was created by plugin PEAKUnlimited v3.6.5
## Plugin GUID: PEAKUnlimited

[General]

## The maximum number of players you want to be able to join your lobby (Including yourself). Warning: untested, higher numbers may be unstable! Range: 1-20
# Setting type: Int32
# Default value: 20
MaxPlayers = 20

## Allows you to stop other players starting the game from the Airport Kiosk
# Setting type: Boolean
# Default value: false
LockKiosk = false

## Prints the lobby details in the join log when a game is started
# Setting type: Boolean
# Default value: true
LobbyDetails = true

## Controls whether additional marshmallows and hot dogs are spawned for the extra players
# Setting type: Boolean
# Default value: true
ExtraMarshmallows = true

## Controls the chance of hot dogs being spawned instead of marshmallows for extra players, Range: 0-1
# Setting type: Single
# Default value: 0.375
HotDogChance = 0.375

## Controls whether additional backpacks have a chance to be spawned for extra players
# Setting type: Boolean
# Default value: true
ExtraBackpacks = true

## Determines what types of debug messages are visible in the Bepinex Logs, Options include: MarshmallowLogic, CampfireLogic, BackpackLogic, NetworkingLogic, PatchingLogic, EndScreenLogic
# Setting type: String
# Default value: 
VisibleLogTypes = 

## Controls whether additional marshmallows are spawned for players who join late (mid run), and removed for those who leave early
# Setting type: Boolean
# Default value: true
LateJoinMarshmallows = true

## (Cheat, disabled by default) This will set the desired amount of marshmallows to the campfires as a cheat, requires ExtraMarshmallows to be enabled. Capped at 30.
# Setting type: Int32
# Default value: 0
Cheat Marshmallows = 0

## Control path for opening the mod configuration menu (e.g. <Keyboard>/f2, <Keyboard>/space, <Keyboard>/escape)
# Setting type: String
# Default value: <Keyboard>/f2
Config Menu Key = <Keyboard>/f2

## (Cheat, disabled by default) Sets how many backpacks will spawn as a cheat, requires ExtraBackpacks to also be enabled. Capped at 10.
# Setting type: Int32
# Default value: 0
Cheat Backpacks = 0

